<div class="container bodyContainer">
  <div class="row">
    <div class="col s10 offset-s1" id="panel">
      <div class="progress" *ngIf="showSpinner">
        <div class="indeterminate"></div>
      </div>

      <h3 id="title">Forget Password</h3>
      <div id="errorMsg" *ngIf="errorMessage">
        <span>{{ errorMessage }}</span>
      </div>

      <div class="row">
        <!-- Form Of Changing Password -->
        <form
          class="col s12"
          [formGroup]="changePasswordForm"
          novalidate
          (ngSubmit)="changePassword()"
        >
          <!-- Input Field for Current Password -->
          <div class="row">
            <div class="input-field col s12">
              <input
                id="currentPassword"
                type="password"
                formControlName="currentPassword"
              />
              <label for="currentPassword">Current Password</label>
              <!-- If error occurs in current Password field it is displayed over here -->
              <span
                class="error"
                *ngIf="
                  !changePasswordForm.controls['currentPassword'].valid &&
                  changePasswordForm.controls['currentPassword'].touched
                "
              >
                password is required
              </span>
            </div>
          </div>
          <div class="row">
            <!-- Inputfield for Change Passwprd -->
            <div class="input-field col s12">
              <input
                id="changePassword"
                type="password"
                formControlName="changePassword"
              />
              <label for="changePassword">Change Password</label>
              <!-- If error occurs in Change Password field it is displayed over here -->

              <span
                class="error"
                *ngIf="
                  !changePasswordForm.controls['changePassword'].valid &&
                  changePasswordForm.controls['changePassword'].touched
                "
              >
                Username is required
              </span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <!-- Input Field for Confirm Password -->
              <input
                id="confirmPassword"
                type="password"
                formControlName="confirmPassword"
              />
              <label for="confirmPassword">Confirm Password</label>
              <!-- If error occurs in Confirm Password field it is displayed over here -->

              <span
                class="error"
                *ngIf="
                  !changePasswordForm.controls['changePassword'].valid &&
                  changePasswordForm.controls['changePassword'].touched
                "
              >
                Username is required
              </span>
            </div>
          </div>
          <!-- Button for Changing Password  -->
          <button
            [disabled]="!changePasswordForm.valid"
            class="btn waves-effect"
            id="nextbtn"
          >
            Change Password
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
